<div class="form-container main_form">
  <div class="row">
    <div id="login-form">
      <div id="notice-top">
        <%= image_tag(current_club.logo_url, id: "emblem", class: "img-thumbnail") %>
      </div>
      <%= form_for @user, url: club_auth_path(current_club), html: {role: "form"} do |f| %>
        <%= render partial: 'form', locals: {f: f} %>
        <%= f.submit "전화번호로 로그인", type: :image, src: asset_path("phone_number_login_btn_large_wide.png"), class: "login-img-button"  %>
        <%= link_to image_tag("kakao_account_login_btn_large_wide.png", class: "btn btn-link login-img-button"), "/auth/kakao?redirect_url=#{url_encode(params[:redirect_url])}&club_id=#{url_encode(current_club.id)}", id: "kakao-login-btn" %>
        <div class="checkbox">
          <%= f.label :remember_me, class: "pull-right" do %>
            <%= f.check_box :remember_me, checked: false, id: "remember-me" %>
              로그인 상태 유지
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>