<div class="form-container main_form">
  <div class="row">
    <div id="login-form">
      <div id="notice-top">
        <%= image_tag("snu_habitat.jpg", id: "emblem", class: "img-thumbnail") %>
      </div>
      <%= form_for @user, url: auth_users_path, html: {role: "form"} do |f| %>
        <%= render partial: 'form', locals: {f: f} %>
        <%= f.submit "전화번호로 로그인", :type => :image, :src => "/assets/phone_number_login_btn_large_wide.png", class: "login-img-button"  %>

      <% end %>
      <%= link_to image_tag("kakao_account_login_btn_large_wide.png", class: "btn btn-link login-img-button"), '/auth/kakao' %>
    </div>
  </div>
</div>