<div class="profile-env">
  <section class="profile-feed checklist-feed">
<!-- profile stories -->
    <div class="profile-stories">

    <% checklists.each do |checklist| %>
      <% user = checklist.assignees.first %>

      <article class="story">

        <div class="story-content full-width">

          <!-- story header -->
          <header>

            <div class="publisher">
              <%= check_box_tag('sms_user[' + user.id.to_s + ']', nil, false, class: "sms_check sms_assignee") if admin? %>
              <a href="#"><%= checklist.assignees.first.username %></a>에게 할당된 작업
              <em><%= time_ago_in_words(checklist.created_at) %> 전에</em>
            </div>
            <div class="checklist-finish">
              <% if checklist.finish? %>
                <div class="label label-success pull-right">완료</div>
              <% end %>
            </div>

            <div class="story-type">
              <% unless checklist.finish? || checklist.assignee_comments.empty? %>
                <%= link_to "완료하기", club_notice_checklist_finish_path(current_club, notice, checklist), class: "btn btn-success", data: { confirm: '완료하시면 기존 댓글의 수정 및 삭제는 불가합니다. 정말 완료하시겠습니까?' } %>
              <% end %>
            </div>

          </header>

          <div class="story-main-content">
            <p><%= checklist.task %></p>
          </div>

          <footer>
            <a href="#">
              <i class="entypo-comment"></i>
              진행 상황 <span>(<%= checklist.assignee_comments.count %>)</span>
            </a>

            <ul class="comments">
              <% checklist.assignee_comments.each do |ac| %>

              <li>
                <div class="user-comment-thumb">
                  <%= image_tag(checklist.assignees.first.extra_info.try(:[], 'image') || asset_url('member.jpg'), class: "img-circle", width: "30") %>
                </div>

                <div class="user-comment-content">

                  <a href="#" class="user-comment-name">
                    <%= checklist.assignees.first.username %>
                  </a>

                  <span class="comment-value" data-finish="<%= checklist.finish? ? true : false %>">
                    <%= ac.comment %>
                  </span>

                  <% if current_user and checklist.assignees.include?(current_user) and !checklist.finish? %>
                    <%= form_for ac do |f| %>
                      <div class="checklist-comment-modify-form">
                        <div class="pull-right">
                          <%= link_to "#", class: "checklist-comment-modify" do %>
                            <i class="entypo-pencil"></i>
                            수정
                          <% end %>
                          <%= link_to ac, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' } do %>
                            <i class="entypo-cancel"></i>
                            삭제
                          <% end %>
                        </div>
                        <div class="clearfix"></div>
                        <div class="checklist-comment-modify-area">
                          <%= f.text_area :comment, class: "form-control" %>
                          <button class="btn"><i class="entypo-chat"></i></button>
                        </div>
                      </div>
                    <% end %>
                  <% end %>

                  <div class="user-comment-meta">

                    <a href="#" class="comment-date"><%= ac.created_at.strftime("%Y-%m-%d %T") %></a>

                  </div>

                </div>
              </li>

              <% end %>

              <% if current_user && checklist.assignees.include?(current_user) %>
                <%= form_for [current_club, @notice, checklist, @assignee_comment] do |f| %>
                  <li class="comment-form">
                    <div class="user-comment-thumb">
                      <%= image_tag(checklist.assignees.first.extra_info.try(:[], 'image') || asset_url('member.jpg'), class: "img-circle", width: "30") %>
                    </div>

                    <div class="user-comment-content">
                      <%= f.text_area :comment, class: "form-control", placeholder: "완료하려면 최소 한 개 이상의 댓글이 필요합니다" %>
                      <button class="btn"><i class="entypo-chat"></i></button>
                    </div>
                  </li>
                <% end %>
              <% end %>

            </ul>

          </footer>

          <!-- separator -->
          <hr />

        </div>

      </article>
    <% end %>
    </div>
</section>
</div>