<div>
  <div class="page-header clearfix">
    <h3 class="text-center"><%= @notice.title %></h3>
    <h5 class="pull-right">
      <p>만든 날짜 : <%= @notice.pretty_created_at %></p>
      <% if @notice.notice_type == "to"  %>
        <p>행사 날짜 : <%= @notice.pretty_due_date %></p>
        <p>모집 시한 : <%= @notice.survey_due_date %></p>
      <% end %>
    </h5>
  </div>

  <div class="content">
    <h4>내용</h4>
    <p class="bg-content"><%= @notice.content %></p>
  </div>

  <div class="details">
    <% if @notice.notice_type == "external" %>
      <h4 class="title">링크</h4>
      <p><%= link_to @notice.link, @notice.link, target: "_blank" %></p>
    <% elsif @notice.notice_type == "to"  %>
      <h4 class="title">TO공지 신청 현황</h4>
      <progress id="to_progress" value="<%= User.responsed_go(@notice).count %>" max="<%= @notice.to %>"></progress>
      <p class="text-center ment"><strong><%= @notice.to %></strong>명 중 <strong><%= User.responsed_go(@notice).count %></strong>명이 신청 하였습니다.</p>
      <p class="text-center">현재 대기자는 <%= User.responsed_wait(@notice).count %>명 입니다.</p>
    <% elsif @notice.notice_type == "survey" %>

    <% elsif @notice.notice_type == "checklist" %>
      <%= render partial: 'checklists', locals: {notice: @notice, checklists: @notice.checklists} %>
    <% end %>
  </div>
</div>