<div>
  <div class="page-header clearfix">
    <h3 class="pull-left"><%= @notice.title %></h3>
  </div>

  <p>내용 : <%= @notice.content %></p>
  <p>시간 : <%= @notice.created_at.localtime.strftime("%Y-%m-%d %T") %></p>

  <% if @notice.notice_type == "external" %>
    <p>링크 : <%= link_to @notice.link, @notice.link, target: "_blank" %></p>
  <% elsif @notice.notice_type == "to"  %>
    <p>총 TO : <%= @notice.to %>명</p>
    <p>현재 신청자 : <%= @notice.responses.where(status: "go").count %>명</p>
    <p>현재 대기자 : <%= @notice.responses.where(status: "wait").count %>명</p>
  <% elsif @notice.notice_type == "survey" %>

  <% end %>
</div>