<div>
  <div class="page-header clearfix">
    <h3 class="text-center"><%= @notice.title %></h3>
    <h5 class="pull-right"><%= @notice.created_at.localtime.strftime("%Y-%m-%d %T") %></h5>
  </div>

  <div class="content">
    <h4>내용</h4>
    <p class="bg-content"><%= @notice.content %></p>
  </div>

  <div class="details">
    <% if @notice.notice_type == "external" %>
      <h4>링크</h4>
      <p><%= link_to @notice.link, @notice.link, target: "_blank" %></p>
    <% elsif @notice.notice_type == "to"  %>
      <h4>신청 현황</h4>
      <progress id="to_progress" value="<%= @notice.responses.where(status: "go").count %>" max="<%= @notice.to %>"></progress>
      <p class="text-center"><strong><%= @notice.to %></strong>명 중 <strong><%= @notice.responses.where(status: "go").count %></strong>명이 신청 하였습니다.</p>
      <p class="text-center">현재 대기자는 <%= @notice.responses.where(status: "wait").count %>명 입니다.</p>
    <% elsif @notice.notice_type == "survey" %>

    <% end %>
  </div>
</div>