<div>
  <div class="notice-title col-md-offset-1 col-md-10">
    <%= link_to club_notice_path(current_club, @notice) do %>
      <%= @notice.title %>
    <% end %>
    <i class="entypo-info-circled pull-left"></i>
    <%= yield :notice_header %>
  </div>

  <div class="notice-content-container col-md-10 col-md-offset-1">
    <div class="clearfix"></div>

    <ul class="ari-notice-ul">
      <li class="ari-notice-li">
        <i class="entypo-calendar"></i>
          만든 날짜 : <a><%= @notice.created_at %></a>
      </li>

      <% if @notice.raw_notice_type == "to" %>
        <li class="ari-notice-li">
          <i class="entypo-calendar"></i>
            행사 날짜 : <a><%= @notice.event_at %></a>
        </li>
        
        <li class="ari-notice-li">
          <i class="entypo-user"></i>
            모집 인원 : <a><%= @notice.to %> 명</a>
        </li>

        <li class="ari-notice-li">
          <i class="entypo-calendar"></i>
            모집 시한 : <a><%= @notice.due_date %></a>
        </li>

        <li class="ari-notice-li">
          <i class="entypo-credit-card"></i>
            <a> 정단원(<%= @notice.regular_dues ? @notice.regular_dues : "0" %>원), 예비단원(<%= @notice.associate_dues ? @notice.associate_dues : "0" %>원) </a>
        </li>
      <% end %>
    </ul>

    <div class="notice-content">
      <%= @notice.content %>
    </div>

    <div class="details">
      <%= yield :notice_detail %>
      <% if @notice.raw_notice_type == "external" %>
        <h4 class="title">링크</h4>
        <p><%= link_to @notice.link, @notice.link, target: "_blank" %></p>
      <% elsif @notice.raw_notice_type == "checklist" %>
        <%= render partial: 'checklists', locals: {notice: @notice, checklists: @notice.checklists} %>
      <% end %>
    </div>
  </div>
</div>