<div class="gate-full-page">
  <%= form_tag(admin_messages_path, method: "post") do %>
  <%= hidden_field_tag 'gate_id', gate.id %>

   <div class="gate-reader">
    <h3>읽은 회원 <small>(총 <%= gate.readers.count %>명)</small></h3>
    <div class="table-responsive">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th width="5%">기수</th>
            <th width="7%">이름</th>
            <th width="13%">전화번호</th>
            <th width="20%">이메일</th>
            <th width="25%">전공</th>
            <th width="15%">읽은 시간</th>
            <th class="text-center" width="15%">문자(전체선택 <%= check_box_tag 'sms_read_all', nil, false, class: 'sms_all' %>)</th>
          </tr>
        </thead>
        <tbody>
          <% gate.readers.order(generation_id: :desc).each_with_index do |user, index| %>
          <tr>
            <td><%= pretty_generation_id(user.generation_id) %></td>
            <td><%= user.username %></td>
            <td><%= pretty_phone_number(user.phone_number) %></td>
            <td><%= user.email %></td>
            <td><%= user.major %></td>
            <td><%= user.read_at(gate).localtime.strftime("%Y-%m-%d %T") %></td>
            <td class="text-center"><%= check_box_tag 'sms_user[' + user.id.to_s + ']', nil, false, class: 'sms_check sms_read' %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="gate-unreader">
    <h3>안 읽은 회원 <small>(총 <%= gate.unreaders.count %>명)</small></h3>
    <div class="table-responsive">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th width="5%">기수</th>
            <th width="7%">이름</th>
            <th width="13%">전화번호</th>
            <th width="20%">이메일</th>
            <th width="25%">전공</th>
            <th width="15%">읽은 시간</th>
            <th class="text-center" width="15%">문자(전체선택 <%= check_box_tag 'sms_unread_all', nil, false, class: 'sms_all' %>)</th>
          </tr>
        </thead>
        <tbody>
          <% gate.unreaders.order(generation_id: :desc).each_with_index do |user, index| %>
          <tr>
            <td><%= pretty_generation_id(user.generation_id) %></td>
            <td><%= user.username %></td>
            <td><%= pretty_phone_number(user.phone_number) %></td>
            <td><%= user.email %></td>
            <td><%= user.major %></td>
            <td>-</td>
            <td class="text-center"><%= check_box_tag 'sms_user[' + user.id.to_s + ']', nil, false, class: 'sms_check sms_unread' %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="sms-text fix-bottom">
  <h3>문자 보내기</h3>
  <p id="phone_numbers">총 0명이 선택 되었습니다.</p>
  <%= text_area_tag 'sms_content', nil, class: 'form-control', placeholder: '문자 내용을 입력하세요!' %>
  <div class="pull-right margin-top15">  
    <button id="send_sms" type="submit" class="btn btn-primary btn-sm">전송</button>
  </div>
</div>

<% end %>