<div class="form-container">
  <div class="row">
    <div class="col-md-12">
      <%= form_for [:admin, @gate] do |f|%>
        <div class="form-group">
          <%= f.label :title %><br>
          <%= f.text_field :title, class: "form-control" %>
        </div>
       
        <div class="form-group">
          <%= f.label :content %><br>
          <%= f.text_field :content, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :link %><br>
          <%= f.text_field :link, class: "form-control" %>
        </div>
       
       

        <p>
          <%= f.submit "등록", class: "btn btn-default"  %>
        </p>
      <% end %>
    </div>
  </div>
</div>