<div>
  <div class="page-header clearfix">
    <h3 class="pull-left"><%= @gate.title %></h3>
    <div class="pull-right margin-top15">
      <%= link_to "수정", edit_admin_gate_path(@gate), class: "btn btn-default btn-sm" %>
      <%= link_to "삭제", admin_gate_path(@gate), method: :delete,
      data: { confirm: '정말 삭제하시겠어요?' }, class: "btn btn-danger btn-sm" %>
    </div>
  </div>


  <p>공지 내용 : <%= @gate.content %></p>
  <p>실제 공지 주소 : <%= link_to @gate.link, @gate.link, target: "_blank" %></p>
  <p>통합 공지 주소 : <%= link_to @gate.shortenURL, @gate.shortenURL, target: "_blank" %></p>
  <p>만든 시간 : <%= @gate.created_at.localtime.strftime("%Y-%m-%d %T") %></p>
  <div class="gate-reader">
    <h3>읽은 회원 <small>(총 <%= @gate.readers.count %>명)</small></h3>
    <div class="table-responsive">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>이름</th>
            <th>전화번호</th>
            <th>이메일</th>
            <th>전공</th>
            <th>읽은 시간</th>
          </tr>
        </thead>
        <tbody>
          <% @gate.readers.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.phone_number %></td>
            <td><%= user.email %></td>
            <td><%= user.major %></td>
            <td><%= user.read_at(@gate).localtime.strftime("%Y-%m-%d %T") %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="gate-unreader">
    <h3>안 읽은 회원 <small>(총 <%= @gate.unreaders.count %>명)</small></h3>
    <div class="table-responsive">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>이름</th>
            <th>전화번호</th>
            <th>이메일</th>
            <th>전공</th>
            <th>읽은 시간</th>
          </tr>
        </thead>
        <tbody>
          <% @gate.unreaders.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.phone_number %></td>
            <td><%= user.email %></td>
            <td><%= user.major %></td>
            <td>-</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>