
<h1>관리자 페이지</h1>
<p id="notice"><%= flash[:notice] %></p>

<%= link_to "회원 등록", new_user_registration_path %>

<% @status_list.each do |status| %>
  <div>
    <h1>Gate: <%= status[:gate].title %></h1>
    <p>Read Users<p>
    <div class="row">
    <% status[:read_users].each do |user| %>
    	<div class="col-md-3"><%= user.username %></div>
      <div class="col-md-3"><%= user.phonenumber %></div>
      <div class="col-md-3"><%= user.email %></div>
      <div class="col-md-3"><%= user.major %></div>
    <% end %>
    </div>
    <p>Unread Users</p>
    <div class="row">
    <% status[:unread_users].each do |user| %>
      <div class="col-md-3"><%= user.username %></div>
      <div class="col-md-3"><%= user.phonenumber %></div>
      <div class="col-md-3"><%= user.email %></div>
      <div class="col-md-3"><%= user.major %></div>
    <% end %>
    </div>
  </div>
<% end %>
