
<h1>관리자 페이지</h1>
<p id="notice"><%= flash[:notice] %></p>

<%= link_to "회원 등록", new_user_registration_path %>

<% @status_list.each do |status| %>
<div>

<h1><%= status[:gate].title %> ( <%= status[:gate].shortenURL %> ) </h1>
<p>공지 내용 : <%= status[:gate].content %></p>
<p>실제 공지 주소 : <%= status[:gate].link %></p>
<p>통합 공지 주소 : <%= status[:gate].shortenURL %></p>
<p>만든 시간 : <%= status[:gate].created_at.strftime("%m/%d/%Y %T%:z") %></p>

<h3>Read Users ( <%= status[:read_users].count %> )</h3>
<ul>
<% status[:read_users].each do |user| %>
  <li><%= user.username %></li>
<% end %>
</ul>
<h3>Unread Users ( <%= status[:unread_users].count %> )</h3>
<ul>
<% status[:unread_users].each do |user| %>
  <li><%= user.username %></li>
<% end %>
</ul>
</div>



<% end %>
