<%= form_for @gate do |f|%>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </p>

  <p>
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </p>
 
  <p>
    <%= f.label :duedate %><br>
    <%= f.date_select :duedate %>
    <%= f.time_select :duedate %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>