<ul>
  
  <li>
    <%= @gate.title %>
  </li>
  
  <li>
    <%= @gate.content %>
  </li>
  
  <li>
    <%= @gate.link %>
  </li>
  
  <li>
    <%= @gate.duedate.strftime("%m/%d/%Y %T%:z") %>
  </li>

  <li>
   <%= link_to '통합 공지 주소', @shortenURL %>
    <%= @shortenURL %>
  </li>
 

  
</ul>
