<div class="main-content">

  <h2 class="pull-left">SMS 전송목록</h2>
  <br>

  <div class="ari-top-buttons pull-right">
    <%= link_to "SMS 전송", new_club_admin_message_path, class: "btn btn-blue" %>
  </div>

  <div class="clearfix"></div>

  <div id="notice-container" class="panel panel-default">
    <table class="table">
      <% @messages.each do |message| %>
        <%= link_to club_admin_message_path(current_club, message), class: "list-group-item" do %>
          <% unless message.notice.blank? %>
            <span>[<%= message.notice.title %>] <%= message.content %></span>
          <% else %>
            <span><%= message.content %></span>
          <% end %>
          <div class="pull-right">
          <span><%= message.created_at %></span>
          </div>
        <% end %>
      <% end %>
    </table>
  </div>
</div>