<h3 class="pull-left">SMS 관리</h3>

  <div id="buttons-div" class="pull-right">
    <%= link_to "SMS 전송", new_admin_message_path, class: "btn btn-default btn-sm" %>
  </div>

<div class="clearfix"></div>

<div id="notice-container" class="panel panel-default">
  <div class="panel-heading">SMS 전송 목록</div>
  <ul class="list-group">
    <% @messages.each do |message| %>
      <%= link_to admin_message_path(message), class: "list-group-item" do %>
        <% unless message.notice.blank? %>
          <span>[<%= message.notice.title %>] <%= message.content %></span>
        <% else %>
          <span><%= message.content %></span>
        <% end %>
        <div class="pull-right">
        <span><%= message.created_at.localtime.strftime("%Y-%m-%d %T") %></span>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>