<section class="portfolio-item-details">
  <div class="container">
    <div class="row item-title">
      <div class="col-sm-9">
        <h1>SMS 전송하기</h1>
        <div class="categories">
        </div>
      </div>

      <div class="col-sm-3">
        <div class="text-right">
          <div class="item-detail">
          </div>
          <div class="item-detail">
          </div>
      </div>
    </div>
  </div>
</section>

<section class="portfolio-container">
  <div class="container">
    <div class="form-group form-group-lg has-feedback">
      <span class="help-block">검색</span>
      <%= text_area_tag :search_word, "", autofocus: true, class: "form-control search_box textcomplete", rows: 1 %>
    </div>
    <div>
      <p> - 문자를 보내려면 체크해주세요.</p>
    </div>

    <%= form_tag(club_admin_messages_path, method: "post") do %>
      <div class="table-responsive">
        <table id="table-receiver" class="table table-condensed">
          <thead>
            <tr>
              <th class="text-center" width="5%">문자 <%= check_box_tag "sms_all_searched", nil, false, class: 'sms_all_searched' %></th>
              <th width="7%">이름</th>
              <th width="13%">전화번호</th>
              <th width="75%">태그</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each_with_index do |user, index| %>
            <tr id="tr-user-id-<%= user.id %>" >
              <td class="text-center"><%= check_box_tag 'sms_user[' + user.id.to_s + ']', nil, false, class: "sms_check sms found" %></td>
              <td><%= user.username %></td>
              <td><%= user.phone_number %></td>
              <td><%= user.tags %></td>

            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="sms-text">
        <h3>문자 보내기</h3>
        <p id="phone_numbers">총 0명이 선택 되었습니다.</p>
        <%= text_area_tag 'sms_content', ("[" + current_club.name + "]"), class: 'form-control' %>
        <div class="pull-right margin-top15">
          (<span id="current-text-size">19</span>/90 bytes)
          <button id="send_sms" type="submit" class="btn btn-blue btn-sm">전송</button>
        </div>
      </div>
    <% end %>
  </div>
</section>
