  <section class="portfolio-item-details">
    <div class="container">
      <div class="row item-title">
        <div class="col-sm-9">
          <h1>SMS 전송내역</h1>
          <div class="categories">
            <% unless @message.notice.blank? %>
              <a>공지글 제목 : <%= @message.notice.title %></a>
            <% end %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="text-right">
            <div class="item-detail">
            </div>
            <div class="item-detail">
              <span>Date:</span>
              <%= @message.created_at %>
            </div>
        </div>
      </div>
    </div>
  </section>

  <section class="portfolio-container">
    <div class="container">
      <div class="panel panel-default" data-collapsed="0">
        <div class="panel-heading">
          <div class="panel-title">문자 내용</div>
        </div>
        <div class="panel-body">
          <p><%= @message.content %></p>
        </div>
      </div>

      <div>
        <h3>전송된 멤버 <small>(총 <%= @message.users.size %>명)</small></h3>
        <div class="table-responsive">
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th width="10%">기수</th>
                <th width="7%">이름</th>
                <th width="13%">전화번호</th>
                <th width="70%">태그</th>
              </tr>
            </thead>
            <tbody>
              <% @message.users.each do |user| %>
              <tr>
                <td class="text-right"><%= user.generation_id %></td>
                <td><%= user.username %></td>
                <td><%= user.phone_number %></td>
                <td><%= user.tags %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>