<div>
  <div class="page-header clearfix">
    <h3 class="pull-left">SMS 전송 내역</h3>
  </div>

  <p>문자 내용 : <%= @message.content %></p>
  <p>공지글 제목 : <%= @message.notice.title unless @message.notice.blank?  %></p>
  <p>전송 시간 : <%= @message.created_at %></p>

  <div>
    <h3>전송된 회원 <small>(총 <%= @message.users.size %>명)</small></h3>
    <div class="table-responsive">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>기수</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>태그</th>
          </tr>
        </thead>
        <tbody>
          <% @message.users.each do |user| %>
          <tr>
            <td class="text-right"><%= user.generation_id %></td>
            <td><%= user.username %></td>
            <td><%= user.phone_number %></td>
            <td><%= user.tags %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>