<div class="form-container" id="user-activation">
  <div class="row">
    <div class="col-md-12">
      <%= form_for @activation, url: activations_path do |f|%>
        <legend>휴대폰 번호를 입력해주세요</legend>
        <div class="profile">
          <%= image_tag(@user_info['image'], class: "img-thumbnail") %>
          <p id="name"><%= @user_info['name'] %></p>
        </div>

        <div class="form-group">
          <%= f.label :phone_number, id: "email-label" %><br>
          <%= f.text_field :phone_number, class: "form-control input-lg", placeholder: "예) 01011112222" %>
        </div>

        <p>
          <%= f.submit "인증 문자 보내기", class: "btn btn-primary btn-block btn-lg"  %>
        </p>
      <% end %>
    </div>
  </div>
</div>