
<h1>관리자 페이지</h1>
<p id="notice"><%= flash[:notice] %></p>

<div>
	<%= link_to "회원 등록", new_user_registration_path %>
	<%= link_to "회원 대량등록", admin_import_path %>
	<%= link_to "새 링크 만들기", new_admin_gate_path %>
</div>

<h3>Gates</h3>
<ul>
<% @gates.each do |gate| %>
  <li><%= link_to gate.title, admin_gate_path(gate) %></li>
<% end %>
</ul>
