<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="text-center" width="5%">참가</th>
        <th class="text-center" width="5%">대기</th>
        <th class="text-center" width="5%">미답</th>
        <th width="10%">기수</th>
        <th width="10%">이름</th>
        <th width="50%">전화번호</th>
        <th width="15%">기록 시간</th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
      <tr>
        <td class="text-center"><%= radio_button_tag 'user[' + user.id.to_s + ']', 'go', type == "go" ? true : false %></td>
        <td class="text-center"><%= radio_button_tag 'user[' + user.id.to_s + ']', 'wait', type == "wait" ? true : false %></td>
        <td class="text-center"><%= radio_button_tag 'user[' + user.id.to_s + ']', 'not', type == "not" ? true : false %></td>
        <td class="text-right"><%= user.generation_id %></td>
        <td><%= user.username %></td>
        <td><%= user.phone_number %></td>
        <td>
          <% if type != "not" %>
            <%= user.responses.time(@notice) %>
          <% else %>
            -
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>