<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="text-center" width="3%">참가</th>
        <th class="text-center" width="3%">대기</th>
        <th class="text-center" width="6%">미응답</th>
        <th width="5%">기수</th>
        <th width="7%">이름</th>
        <th width="13%">전화번호</th>
        <th width="26%">이메일</th>
        <th width="22%">전공</th>
        <th width="15%">기록 시간</th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
      <tr>
        <td class="text-center"><%= radio_button_tag 'user[' + user.id.to_s + ']', nil, false %></td>
        <td class="text-center"><%= radio_button_tag 'user[' + user.id.to_s + ']', nil, false %></td>
        <td class="text-center"><%= radio_button_tag 'user[' + user.id.to_s + ']', nil, false %></td>
        <td class="text-right"><%= pretty_generation_id(user.generation_id) %></td>
        <td><%= user.username %></td>
        <td><%= pretty_phone_number(user.phone_number) %></td>
        <td><%= user.email %></td>
        <td><%= user.major %></td>
        <td>
          <% if type != "not" %>
            <%= user.responses.time(@notice) %>
          <% else %>
            -
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>