  <section class="portfolio-item-details">
    <div class="container">
      <div class="row item-title">
        <div class="col-sm-9">
          <h1>참가 인원 관리</h1>
          <div class="categories">
            <%= link_to (@notice.title + " in " + @notice.activity.title), club_admin_activity_path(current_club, @notice.activity) %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="text-right">
            <div class="item-detail">
              <% if @notice_deadline_end %>
                <%= link_to "마감", to_notice_end_deadline_club_admin_notice_path(current_club, @notice.id), class: "btn btn-red" %>
              <% end %>
              <%= link_to "취소", club_admin_notice_path(current_club, @notice), class: "btn btn-gold" %>
            </div>
            <div class="item-detail">
              <span>Date:</span>
              <%= @notice.created_at %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="portfolio-container">
    <div class="container">
      <ul class="ari-notice-ul">
        <li class="ari-notice-li-top">
          <i class="entypo-doc-text"></i>
          <a><%= @notice.content %></a>
        </li>

        <li class="ari-notice-li">
          <i class="entypo-link"></i>
            통합 주소 : <%= link_to @notice.shortenURL, @notice.shortenURL, target: "_blank" %>
        </li>

        <li class="ari-notice-li">
          <i class="entypo-calendar"></i>
            행사 날짜 : <a><%= @notice.event_at %></a>
        </li>
        <li class="ari-notice-li">
          <i class="entypo-calendar"></i>
            모집 시한 : <a><%= @notice.due_date %></a>
        </li>
        <li class="ari-notice-li">
          <i class="entypo-credit-card"></i>
            <a> 정단원(<%= @notice.regular_dues ? @notice.regular_dues : "0" %>원), 예비단원(<%= @notice.associate_dues ? @notice.associate_dues : "0" %>원) </a>
        </li>

        <li class="ari-notice-li">
          <i class="entypo-user"></i>
            최대 참가 가능인원 : <a><%= @notice.to %></a>
        </li>
        <% unless @notice_deadline_end %>
          <li class="ari-notice-li">
            <i class="entypo-calendar"></i>
              <div class="ari-deadline-edit">
                모집 시한 변경
                <%= form_for @notice_form, url: to_notice_change_deadline_club_admin_notice_path(current_club, @notice_form.id), html: {role: "form", class: "form-horizontal"} do |f|%>
                  <div class="ari-form-group-deadline form-group form-group-lg has-feedback <%= validation_state(@notice_form, :due_date) %>">
                    <div class="ari-input-group input-group">
                      <input type="text" name="due_date" class="ari-form-control form-control datepicker" value="<%= @notice_form.due_date.localtime.strftime("%m/%d/%Y") %>" data-format="mm/dd/yyyy">

                      <div class="ari-input-calendar input-group-addon">
                        <i class="entypo-calendar"></i>
                      </div>
                      <div class="ari-input-group"><%= f.submit "연장", class: "btn btn-primary"  %></div>
                    </div>

                    <span class="glyphicon <%= validation_state_feedback(@notice_form, :due_date) %> form-control-feedback"></span>
                    <span class="help-block"><%= attribute_error_message(@notice_form, :due_date) %></span>
                  </div>
                <% end %>
              </div>
            <% end %>
          </li>


      </ul>




      <div class="clearfix"></div>
      <%= form_tag(club_admin_notice_responses_path(current_club, @notice), method: "post") do %>
        <%= hidden_field_tag 'notice_id', @notice.id %>
        <div>
          <h3>참가 <small>(총 <%= @responsed_go.total_count %>명)</small></h3>
          <%= render partial: "table", locals: { users: @responsed_go.decorate, type: "go" } %>
          <%= paginate @responsed_go, param_name: :responsed_go_page, theme: 'bootstrap' %>
        </div>
        <div class="notice-under">
          <h3>대기 <small>(총 <%= @responsed_wait.total_count %>명)</small></h3>
          <%= render partial: "table", locals: { users: @responsed_wait.decorate, type: "wait" } %>
          <%= paginate @responsed_wait, param_name: :responsed_wait_page, theme: 'bootstrap' %>
        </div>
        <div class="notice-under">
          <h3>미응답 <small>(총 <%= @responsed_not.total_count %>명)</small></h3>
          <%= render partial: "table", locals: { users: @responsed_not.decorate, type: "not" } %>
          <%= paginate @responsed_not, param_name: :responsed_not_page, theme: 'bootstrap' %>
        </div>

        <div class="pull-right">
          <%= button_tag type: :submit, class: "btn btn-info btn-lg btn-icon" do %>
            변경<i class="entypo-check"></i>
          <% end %>
          <%= link_to club_admin_notice_path(current_club, @notice) do %>
            <button type="button" class="btn btn-gold btn-lg btn-icon">
              취소<i class="entypo-cancel"></i>
            </button>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
