<div class="notice-full-page">
  <div class="page-header clearfix">
    <h3 class="pull-left">"<%= @notice.title %>"공지 TO관리</h3>
    <div class="pull-right margin-top15">
      <%= link_to "취소", admin_notice_path(@notice), class: "btn btn-default" %>
    </div>
  </div>

  <p>공지 내용 : <%= @notice.content %></p>
  <p>실제 공지 주소 : <%= link_to @notice.link, @notice.link, target: "_blank" %></p>
  <p>통합 공지 주소 : <%= link_to @notice.shortenURL, @notice.shortenURL, target: "_blank" %></p>
  <p>만든 시간 : <%= @notice.created_at %></p>

  <p>행사 날짜 : <%= @notice.event_at %></p>
  <p>모집 시한 : <%= @notice.due_date %></p>
  <p>TO 개수 : <%= @notice.to %></p>

  <% if @notice_deadline_end %>
    <%= link_to "마감", admin_notice_to_notice_end_deadline_path(@notice), class: "btn btn-warning" %>
  <% else %>
    <%= form_for @notice_form, url: admin_notice_to_notice_change_deadline_path, html: {role: "form", class: "form-horizontal"} do |f|%>
      <div class="modal-body">
        <div class="form-group form-group-sm has-feedback <%= validation_state(@notice, :due_date) %>">
          <%= f.label :due_date, "모집 시한 변경", class: "control-label" %>
          <div>
            <%= f.date_select :due_date, {start_year: Date.today.year, default: 4.days.from_now }, {class: "selectpicker"} %>
            <%= f.submit "연장", class: "btn btn-primary"  %>
            <span class="glyphicon <%= validation_state_feedback(@notice_form, :due_date) %> form-control-feedback"></span>
            <span class="help-block"><%= attribute_error_message(@notice_form, :due_date) %></span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="clearfix"></div>

  <%= form_tag(admin_notice_responses_path, method: "post") do %>
    <%= hidden_field_tag 'notice_id', @notice.id %>
    <div>
      <h3>참가 <small>(총 <%= User.responsed_go(@notice).count %>명)</small></h3>
      <%= render partial: "table", locals: { users: User.responsed_go(@notice).order_by_responsed_at.decorate, type: "go" } %>
    </div>
    <div>
      <h3>대기 <small>(총 <%= User.responsed_wait(@notice).count %>명)</small></h3>
      <%= render partial: "table", locals: { users: User.responsed_wait(@notice).order_by_responsed_at.decorate, type: "wait" } %>
    </div>
    <div>
      <h3>미응답 <small>(총 <%= User.responsed_not_to_notice(@notice).count %>명)</small></h3>
      <%= render partial: "table", locals: { users: User.responsed_not_to_notice(@notice).decorate, type: "not" } %>
    </div>
    <div>
      <%= submit_tag "변경", class: "btn btn-primary"  %>
      <%= link_to "취소", admin_notice_path(@notice), class: "btn btn-default" %>
    <div>
  <% end %>
</div>
