<% content_for :notice_detail do %>
<div>
  <div class="btn-group pull-left">
    <%= link_to "찬성", club_notice_responses_path(current_club, @notice, status: "yes"), method: :post, class: "btn btn-default #{@status == '찬성' ? 'btn-primary' : '' }" %>
    <%= link_to "보류", club_notice_responses_path(current_club, @notice, status: "maybe"), method: :post, class: "btn btn-default #{@status == '보류' ? 'btn-warning' : '' }" %>
    <%= link_to "반대", club_notice_responses_path(current_club, @notice, status: "no"), method: :post, class: "btn btn-default #{@status == '반대' ? 'btn-danger' : '' }" %>
  </div>
  <div class="pull-right">
  <% if current_user.responsed_to?(@notice) %>
    <%= link_to "취소", club_notice_response_path(current_club, @notice, @notice.responses.find_by_user_id(current_user)), method: :delete, class: "btn btn-danger pull-right" %>
    <% end %>
  </div>
</div>
<% end %>
<%= render template: 'notices/show' %>