<% if activity.trackable %>
  <%= time_tag activity.created_at, class: "cbp_tmtime" do %>
    <span><%= activity.created_at.strftime('%H:%M %p') %></span>
    <span><%= time_ago_in_words(activity.created_at) %> 전</span>
  <% end %>

  <div class="cbp_tmicon bg-success">
    <i class="entypo-thumbs-up"></i>
  </div>

  <div class="cbp_tmlabel">
    <h2>'<%= link_to activity.trackable.notice.title, club_notice_path(current_club, activity.trackable.notice) %>' 의 할일을 완료하였습니다</h2>
    <p>
      <%= p[:task] %>
    </p>
    <p>
      <em><%= time_ago_in_words(activity.trackable.notice.created_at) %> 전에 작성되었습니다.</em>
    </p>
  </div>
<% end %>