<div class="main-content">
  <h2>활동</h2>
  <br>
  <div class="ari-top-buttons pull-right">
    <%= link_to "새 활동", new_club_admin_activity_path(current_club), class: "btn btn-green " %>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <% @activities.each do |activity| %>
      <div class="col-sm-6">
        <div class="tile-stats tile-white tile-white-primary">
          <div class="pull-right">
            <%= link_to "새 플로우", new_club_admin_notice_path(current_club), class: "btn btn-blue " %>
          </div>
          <div class="ari-activity-title-area num" ><%= link_to activity.title, club_admin_activity_path(current_club, activity), class: "ari-activity-title" %></div>
          <p><%= activity.event_at %></p>
          <div><h3><%= activity.description %></h3></div>

          <div class="ari-flow-list">
            <% activity.notices.created_at_desc.each do |notice| %>
              <%= link_to club_admin_notice_path(current_club, notice), class: "list-group-item" do %>
                <span><%= notice.title %></span>
                <span class="badge">
                  <%= "#{notice.readers.count} / #{current_club.users.all.count}" %>
                </span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
