<h3 class="pull-left">공지사항 관리</h3>

<div id="buttons-div" class="pull-right">
  <%= link_to "새 활동", new_admin_activity_path, class: "btn btn-success btn-sm " %>
</div>

<div class="clearfix"></div>

<% @activities.each do |activity| %>
  <div id="notice-container" class="panel panel-default">
    <div class="panel-heading">
      <%= link_to ("[" + activity.event_at.strftime("%Y-%m-%d").to_s + "] " + activity.title), admin_activity_path(activity) %>
      <div class="pull-right">
        <%= link_to "새 공지", new_admin_notice_path(activity_id: activity.id), class: "btn btn-primary btn-xs " %>
      </div>
    </div>
      <ul class="list-group">
        <% activity.notices.each do |notice| %>
          <%= link_to admin_notice_path(notice), class: "list-group-item" do %>
            <span><%= notice.title %></span>
            <span class="badge">
              <%= "#{notice.readers.count} / #{User.all.count}" %>
            </span>
          <% end %>
        <% end %>
      </ul>
    </div>
<% end %>

</div>
