<div class="notice-full-page">
  <div class="page-header clearfix">
    <h3 class="pull-left"><%= @activity.title %></h3>
    <div class="pull-right margin-top15">
      <%= link_to "수정", edit_club_admin_activity_path(current_club, @activity), class: "btn btn-default btn-sm" %>
      <%= link_to "삭제", club_admin_activity_path(current_club, @activity), method: :delete,
      data: { confirm: '활동에 속한 공지도 모두 삭제 됩니다. 정말 삭제하시겠어요?' }, class: "btn btn-danger btn-sm" %>
    </div>
  </div>

  <p>활동 설명 : <%= @activity.description %></p>
  <p>활동 날짜 : <%= @activity.event_at %></p>

  <hr>

  <h4>TO 모집 현황 결과</h4>
  <ul class="list-group">
    <% @dues_sum.each do |result| %>
        <ol class="breadcrumb">
          <li><h4><a href="<%= club_admin_notice_path(current_club,result[:notice]) %>"><%= result[:notice].title %></a></h4></li>
          <li class="active">참가 : <%= result[:go] %> 명</li>
          <li class="active">대기 : <%= result[:wait] %> 명</li>
          <li class="active">회비 합계 : <%= result[:sum] %> </li>
        </ol>
    <% end %>
  </ul>
</div>
