<div class="notice-full-page">
  <div class="page-header clearfix">
    <h3 class="pull-left"><%= @activity.title %></h3>
    <div class="pull-right margin-top15">
      <%= link_to "수정", edit_club_admin_activity_path(current_club, @activity), class: "btn btn-default btn-sm" %>
      <%= link_to "삭제", club_admin_activity_path(current_club, @activity), method: :delete,
      data: { confirm: '활동에 속한 공지도 모두 삭제 됩니다. 정말 삭제하시겠어요?' }, class: "btn btn-danger btn-sm" %>
    </div>
  </div>

  <p>활동 설명 : <%= @activity.description %></p>
  <p>활동 날짜 : <%= @activity.event_at %></p>
</div>
