<div class="page-header clearfix">
  <h3 class="pull-left">회원 목록</h3>
  <div id="buttons-div" class="pull-right">
    <%= link_to "회원 등록", new_admin_user_path, class: "btn btn-default btn-sm" %>
    <%= link_to "엑셀로 회원 등록", import_admin_users_path, class: "btn btn-default btn-sm" %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-condensed table-striped table-hover">
    <thead>
      <tr>
        <th>기수</th>
        <th>이름</th>
        <th>전화번호</th>
        <th>이메일</th>
        <th>전공</th>
        <th>메뉴</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr class="clickable-row" href="<%= admin_user_path(user) %>">
          <td><%= pretty_generation_id(user.generation_id) %></td>
          <td>
            <%= user.username %>
            <% if user.activated? %>
              <span class="glyphicon glyphicon-ok"></span>
            <% end %>
          </td>
          <td><%= pretty_phone_number(user.phone_number) %></td>
          <td><%= user.email %></td>
          <td><%= user.major %></td>
          <td class="menu"><%= link_to "자세히", admin_user_path(user), class: "btn btn-link btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function() {
    $(".clickable-row td:not(.menu)").on("click", function(e) {
      var tr = $(this).parent();
      window.document.location = $(tr).attr("href");
    })
  });
</script>
