<div class="page-header clearfix">
  <h3 class="pull-left">회원 목록</h3>
  <div id="buttons-div" class="pull-right">
    <%= link_to "회원 등록", new_admin_user_path, class: "btn btn-default btn-sm" %>
    <%= link_to "엑셀로 회원 등록", import_admin_users_path, class: "btn btn-default btn-sm" %>
  </div>
</div>
<div class="form-group form-group-lg has-feedback">
  <span class="help-block">검색</span>
  <%= text_area_tag :user_filter_word, "", autofocus: true, class: "form-control search_box textcomplete", rows: 1 %>

</div>
<div class="table-responsive" id="table-user-list">
  <table class="table table-condensed table-striped table-hover">
    <thead>
      <tr>
        <th>이름</th>
        <th>전화번호</th>
        <th>이메일</th>
        <th>태그</th>
        <th>메뉴</th>
      </tr>
    </thead>

    <tbody>
      <% @users.decorate.each do |user| %>
        <tr id="tr-user-id-<%= user.id %>" class="clickable-row" href="<%= admin_user_path(user) %>">
          <td>
            <%= user.username %>
            <% if user.activated? %>
              <span class="glyphicon glyphicon-ok"></span>
            <% end %>
          </td>
          <td><%= user.pretty_phone_number %></td>
          <td><%= user.email %></td>
          <td><%= user.pretty_tags %></td>
          <td class="menu"><%= link_to "자세히", admin_user_path(user), class: "btn btn-link btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function() {
    $(".clickable-row td:not(.menu)").on("click", function(e) {
      var tr = $(this).parent();
      window.document.location = $(tr).attr("href");
    })
  });
</script>
