<div class="page-header clearfix">
  <h3 class="pull-left"><%= @user.username %>님의 정보</h3>

  <div id="buttons-div" class="pull-right">
    <%= link_to "수정", edit_admin_user_path(@user), class: "btn btn-default" %>
	<%= link_to "삭제", admin_user_path(@user), method: :delete, data: { confirm: "정말 삭제하시겠어요?" }, class: "btn btn-danger" %>
  </div>
</div>

<table class="table">
  <tr>
    <td>기수</td>
    <td><%= @user.generation_id %></td>
  </tr>
  <tr>
  	<td>이름</td>
  	<td><%= @user.username %></td>
  </tr>
  <tr>
    <td>성별</td>
    <td><%= @user.sex %></td>
  </tr>
  <tr>
    <td>전공</td>
    <td><%= @user.major %></td>
  </tr>
  <tr>
    <td>학번</td>
    <td><%= @user.student_id %></td>
  </tr>
  <tr>
  	<td>본인 연락처</td>
  	<td><%= pretty_phone_number(@user.phone_number) %></td>
  </tr>
  <tr>
    <td>자택 전화번호</td>
    <td><%= pretty_phone_number(@user.home_phone_number) %></td>
  </tr>
  <tr>
    <td>응급시 연락처</td>
    <td><%= pretty_phone_number(@user.emergency_phone_number) %></td>
  </tr>
  <tr>
  	<td>이메일</td>
  	<td><%= @user.email %></td>
  </tr>
  <tr>
    <td>해비타드 아이디</td>
    <td><%= @user.habitat_id %></td>
  </tr>
  <tr>
    <td>단원구분</td>
    <td><%= @user.member_type %></td>
  </tr>
</table>