<div class="wrap">
	
	<div class="site-header-container container">

	<div class="row">
	
		<div class="col-md-12">
			
			<header class="site-header">

			
				<section class="site-logo">
					<a href="<%= root_path %>">
						<%= image_tag("logo.png", id: "playBtn", class: "img-responsive", width:"140") %>
					</a>
					
				</section>
				
				<nav class="site-nav">
					
					<ul class="main-menu hidden-xs" id="main-menu">
						<li>
							<%= link_to "Demo", demo_path %>
						</li>
						<li class="ari-login-modal">
							<a href="#">
								Login
							</a>
						</li>
					</ul>
				
					<div class="visible-xs">
						<a href="#" class="menu-trigger">
							<i class="entypo-menu"></i>
						</a>
					</div>
				</nav>
				
			</header>
			
		</div>
		
	</div>
	
</div>	
	<section class="ari-video-section" style="background-image:url(<%=asset_path 'main_image.png'%>); background-repeat: no-repeat; background-size: cover; background-position: center center;">
	
	<div class="container">
		
		<div class="row">
			
			<div class="col-md-12">
				<div class="ari-video-wrap">

					<h1>Enjoy Your Circle with Aritor!!</h1>
					<br>
					<h2>
					<div class="title">동아리 멤버 활동 모니터링 플랫폼</div>Aritor와 함께 손쉬운 동아리 관리를 경험 하세요.</h2>
					
					<div class="ari-video">
						<!-- <a href="javascript:;" onclick="jQuery('#modal-video').modal('show');"> -->
						<a href="#">
							<%= image_tag("btn_play.png", id: "playBtn", class: "img-responsive", width:"140", height:"140") %>
						</a>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
	
</section>



<section class="features-blocks">
	
	<div class="ari-main-explain container">
		<div class="row">			
			<div class="ari-main-explain-row col-md-12">
				
				<div class="row">

					<div class="ari-main-title col-md-12">
						<h1>Value</h1>
						<p class="lead">Aritor가 모두에게 주는 가치 입니다.</p>
					</div>

					<div class="contents col-md-6">
						<h3><strong>동아리 운영진</strong></h3>
						<h2>현재 동아리를 운영하고 있는 운영진</h2>
						<br>
						<ul class="detail">
							<li>
							'동아리 멤버 활동 모니터링 플랫폼' 기반 효율적인 동아리 운영이 가능합니다.</li>
							<li>
							멤버들의 수요 응답, 공지사항 수신 여부, 배분한 업무 진행현황 등 소통 관련 모니터링이 가능합니다.
							</li>
							<li>
							동아리 회계관리 모니터링 시스템을 제공합니다.</li>
						</ul>
					</div>

					<div class="col-md-6 text-center">
						<%= image_tag("explain1.png", width: "300") %>
					</div>

				</div>
				
			</div>

			<hr />
			
			<div class="ari-main-explain-row col-md-12">
				
				<div class="row">

					<div class="contents col-md-6">
						<h3><strong>동아리 멤버</strong></h3>
						<h2>동아리 예비 멤버, 활동 멤버, OB 멤버</h2>
						<br>
						<ul class="detail">
							<li>
							Short URL 기반 동아리 참여가 이루어지기 때문에 앱 추가 설치가 필요 없습니다.
							</li>
							<li>
							소셜 로그인 기반 멤버 인증 기능으로 추가 가입 절차가 불필요합니다.
							</li>
						</ul>
					</div>

					<div class="col-md-6 text-center">
						<%= image_tag("explain2.png", width: "300") %>
					</div>

				</div>
				
			</div>
			
			<hr />

			<div class="ari-main-explain-row col-md-12">
				
				<div class="row">

					<div class="contents col-md-6">
						<h3><strong>교류 희망 동아리</strong></h3>
						<h2>타 동아리와 교류를 희망하는 동아리</h2>
						<br>
						<ul class="detail">
							<li>
							동아리 간 연합 이벤트를 기획할 수 있습니다.
							</li>
							<li>
							동아리 유형에 맞는 우수한 멤버에 대해 리쿠르팅이 가능합니다.
							</li>
						</ul>
					</div>

					<div class="col-md-6 text-center">
						<%= image_tag("explain3.png", width: "300") %>
					</div>

				</div>
			
		</div>
	
	</div>
	
</section>

<hr />

<section class="portfolio-widget">
	
	<div class="container">
		
		<div class="ari-price-row row">
			<div class="ari-main-title col-sm-12">
				<h1>Pricing</h1>
				<p class="lead">Aritor의 가격 정책 입니다.</p>
			</div>
			<div class="col-sm-4">
				
				<div id="plans-free" class="ari-price-table">
					<div class="tr">
						<div class="th">Basic<strong>멤버 최대 300명 수용가능</strong></div>
					</div>
					<div class="tr">
						<div class="td">
							<a href="<%= admin_sign_in_path %>" class="btn btn-blue btn-lg plan-personal">사용하기<div class="fa fa-chevron-circle-right"></div></a>
						</div>
					</div>
					<div class="tr">
						<div class="td">
							<ul class="ari-price-ul">
								<li class="header">동아리 멤버 활동 모니터링 플랫폼</li>
								<li>수요조사 모니터링 서비스</li>
								<li>공지관리 모니터링 서비스</li>
								<li>업무 진행상황 모니터링 서비스</li>
								<li>회계관리 모니터링 서비스</li>
								<li><hr></li>
								
								<span class="addon-price">무료</span>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="col-sm-4">
				
				<div class="ari-price-table">
					<div class="tr">
						<div class="th">Pro<strong>멤버 최대 1000명 수용가능</strong></div>
					</div>
					<div class="tr">
						<div class="td">
							<a href="javascript:;" onclick="alert('구매하시려면 admin@aritor.net 으로 문의하세요.');" class="btn btn-blue btn-lg plan-personal">구입하기<div class="fa fa-chevron-circle-right"></div></a>
						</div>
					</div>
					<div class="tr">
						<div class="td">
							<ul class="ari-price-ul">
								
								<li>Basic 제공기능 외</li>
								<li class="header">납부내역 자동확인 서비스</li>
								<li><br></li>
								<li><br></li>
								
								<li><br></li>
								<li><hr></li>
								<li><span class="addon-price">9,900원/월</span></li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="col-sm-4">
				
				<div class="ari-price-table">
					<div class="tr">
						<div class="th">Premium<strong>멤버 무제한 수용가능</strong></div>
					</div>
					<div class="tr">
						<div class="td">
							<a href="javascript:;" onclick="alert('구매하시려면 admin@aritor.net 으로 문의하세요.');" class="btn btn-blue btn-lg plan-personal">구입하기<div class="fa fa-chevron-circle-right"></div></a>
						</div>
					</div>
					<div class="tr">
						<div class="td">
							<ul class="ari-price-ul">
								<li>Pro 제공기능 외</li>
								<li class="header">동아리 교류 매칭 플랫폼</li>
								<li>동아리 연합 이벤트 서비스</li>	
								<li>크로스 리쿠르팅 서비스</li>
								<li><br></li>
								<li><hr></li>

								<li><span class="addon-price">29,900원/월</span></li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
		
	</div>
	
</section>

<hr />

<section class="clients-logos-container">
	
	<div class="container">
		
		<div class="ari-company-row row">

			<div class="ari-main-title col-sm-12">
				<h1>Customer</h1>
				<p class="lead">현재 Aritor를 사용하고 있는 동아리 입니다.</p>
			</div>

			<div class="row">
				<div class="ari-logo-icon col-sm-3">
					<a href="http://club.cyworld.com/snuhabitat" target="_blank">
						<%= image_tag("ari0.jpg", width: "200", height: "200") %>
						<h4>서울대학교 해비타트 햇빛봉사단</h4>
					</a>
				</div>
				<div class="ari-logo-icon col-sm-3">
					<a href="http://cafe.naver.com/campusceo" target="_blank">
						<%= image_tag("ari1.png", width: "200", height: "200") %>
						<h4>서울대 이화여대 고려대 수료생 동아리</h4>
					</a>
				</div>
				<div class="ari-logo-icon col-sm-3">
					<a href="http://www.facebook.com/aiesec.korea" target="_blank">
						<%= image_tag("ari7.jpg", width: "200", height: "200") %>
						<h4>서울대학교 해외인턴십 동아리 AIESEC</h4>
					</a>
				</div>
				<div class="ari-logo-icon col-sm-3">
					<a href="http://www.facebook.com/raonsoul" target="_blank">
						<%= image_tag("ari3.jpg", width: "200", height: "200") %>
						<h4>이화여대 힙합 동아리 RAONSOUL</h4>
					</a>
				</div>
				<div class="ari-logo-icon col-sm-3">
					<a href="http://www.youtube.com/watch?v=kG2PFxGfa0g" target="_blank">
						<%= image_tag("ari2.jpg", width: "200", height: "200") %>
						<h4>서강대학교 국제봉사동아리 SIFE</h4>
					</a>
				</div>
				<div class="ari-logo-icon col-sm-3">
					<a href="http://cafe.naver.com/campusstar" target="_blank">
						<%= image_tag("ari5.png", width: "200", height: "200") %>
						<h4>대학생 PT발표 동아리 PT STAR</h4>
					</a>
				</div>
				<div class="ari-logo-icon col-sm-3">
					<a href="http://poolc.org" target="_blank">
						<%= image_tag("ari6.gif", width: "200", height: "200") %>
						<h4>연세대학교 프로그래밍 동아리 PoolC</h4>
					</a>
				</div>
				<div class="ari-logo-icon col-sm-3">
					<a href="http://tvpot.daum.net/v/e1CJ3wRp2wI$" target="_blank">
						<%= image_tag("ari4.jpg", width: "200", height: "200") %>
						<h4>대원외고 아카펠라 동아리</h4>
					</a>
				</div>
			</div>
			
		</div>
		
	</div>

</div>

<div class="modal fade" id="modal-login">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Login</h4>
			</div>
			
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-6 text-center">
						<div class="tile-stats tile-primary">
							<a href="<%= admin_sign_in_path %>">
								<div class="num">운영자</div>
								<hr>
							</a>
						</div>
					</div>
					<div class="col-xs-6 text-center">
						<div class="tile-stats tile-gray">
							<a href="<%= sign_in_path %>">
								<div class="num">멤버</div>
								<hr>
							</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-red" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="modal-video" aria-hidden="true" style="display: none;">
	<div class="ari-modal-dialog modal-dialog text-center">
		 <iframe id="player1" src="//player.vimeo.com/video/112058359?api=1&player_id=player1" width="630" height="354" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</div>


<script>
$(document).on("ready page:load", function () {
	$('.ari-video a').on("click", function(){
		$('#modal-video').modal('show');
	});

	$('.ari-login-modal a').on("click", function(){
		$('#modal-login').modal('show');
	});
});
</script>