<%= f.validation_text_field :title, "제목", { column_width: 11 } %>
<%= f.validation_text_field :content, "내용", { column_width: 11 } %>
<%= f.validation_text_field :link, "링크", { column_width: 11 } %>
<%= f.validation_inline_label :notice_type, "유형", { column_width: 1 } do %>
  <%= f.label :notice_type_external, class: "radio-inline control-label" do %>
    <%= f.radio_button :notice_type, "external", checked: true, class: "notice-type-option" %>
    외부 공지
  <% end %>
  <%= f.label :notice_type_plain, class: "radio-inline control-label" do %>
    <%= f.radio_button :notice_type, "plain", class: "notice-type-option" %>
    내부 공지
  <% end %>
  <%= f.label :notice_type_survey, class: "radio-inline control-label" do %>
    <%= f.radio_button :notice_type, "survey", class: "notice-type-option" %>
    수요조사
  <% end %>
  <%= f.label :notice_type_to, class: "radio-inline control-label" do %>
    <%= f.radio_button :notice_type, "to", class: "notice-type-option" %>
    TO 공지
    <% end %>
<% end %>
<div id="to-option">
  <%= f.validation_inline_label :to, "모집 인원", { column_width: 1 } do %>
    <%= f.number_field :to, min: 1, class: "form-control" %>
  <% end %>

  <%= f.validation_inline_label :due_date, "행사 날짜", { column_width: 1 } do %>
    <%= f.date_select :due_date, {start_year: Date.today.year}, {class: "selectpicker"} %>
    <p class="text-success">날짜 3일 전까지 공개 모집이 가능합니다</p>
  <% end %>
</div>