<div class="form-group form-group-lg has-feedback <%= validation_state(@notice, :title) %>">
  <%= f.label :title, "제목", class: "col-sm-1 control-label" %>
  <div class="col-sm-11">
    <%= f.text_field :title, class: "form-control" %>
    <span class="glyphicon <%= validation_state_feedback(@notice, :title) %> form-control-feedback"></span>
    <span class="help-block"><%= attribute_error_message(@notice, :title) %></span>
  </div>
</div>

<div class="form-group form-group-lg has-feedback <%= validation_state(@notice, :content) %>">
  <%= f.label :content, "내용", class: "col-sm-1 control-label" %>
  <div class="col-sm-11">
    <%= f.text_field :content, class: "form-control" %>
    <span class="glyphicon <%= validation_state_feedback(@notice, :content) %> form-control-feedback"></span>
    <span class="help-block"><%= attribute_error_message(@notice, :content) %></span>
  </div>
</div>

<div class="form-group form-group-lg has-feedback <%= validation_state(@notice, :link) %>">
  <%= f.label :link, "링크", class: "col-sm-1 control-label" %>
  <div class="col-sm-11">
    <%= f.text_field :link, class: "form-control" %>
    <span class="glyphicon <%= validation_state_feedback(@notice, :link) %> form-control-feedback"></span>
    <span class="help-block"><%= attribute_error_message(@notice, :link) %></span>
  </div>
</div>