<div class="form-group form-group-lg has-feedback %>">
  <%= f.label :notice_type, "유형", class: "col-sm-1 control-label" %>
  <div class="col-sm-11">
    <%= f.label :notice_type_external, class: "radio-inline control-label" do %>
      <%= f.radio_button :notice_type, "external", checked: true, class: "notice-type-option" %>
      외부 공지
    <% end %>
    <%= f.label :notice_type_plain, class: "radio-inline control-label" do %>
      <%= f.radio_button :notice_type, "plain", class: "notice-type-option" %>
      내부 공지
    <% end %>
    <%= f.label :notice_type_survey, class: "radio-inline control-label" do %>
      <%= f.radio_button :notice_type, "survey", class: "notice-type-option" %>
      수요조사
    <% end %>
    <%= f.label :notice_type_to, class: "radio-inline control-label" do %>
      <%= f.radio_button :notice_type, "to", class: "notice-type-option" %>
      TO 공지
    <% end %>
    <%= f.label :notice_type_checklist, class: "radio-inline control-label" do %>
      <%= f.radio_button :notice_type, "checklist", class: "notice-type-option" %>
      체크리스트 공지
    <% end %>
  </div>
</div>

<div class="form-group form-group-lg has-feedback <%= validation_state(@notice, :activity) %>">
  <%= f.label :activity, "활동", class: "col-sm-1 control-label" %>
  <div class="col-sm-11">
    <%= f.collection_select :activity_id, current_club.activities.all,:id,:title, {:selected => @activity_id}, {class: "form-control"} %>
    <span class="glyphicon <%= validation_state_feedback(@notice, :activity) %> form-control-feedback"></span>
    <span class="help-block"><%= attribute_error_message(@notice, :activity) %></span>
  </div>
</div>

<div class="form-group form-group-lg has-feedback <%= validation_state(@notice, :title) %>">
  <%= f.label :title, "제목", class: "col-sm-1 control-label" %>
  <div class="col-sm-11">
    <%= f.text_field :title, class: "form-control" %>
    <span class="glyphicon <%= validation_state_feedback(@notice, :title) %> form-control-feedback"></span>
    <span class="help-block"><%= attribute_error_message(@notice, :title) %></span>
  </div>
</div>

<div class="form-group form-group-lg has-feedback <%= validation_state(@notice, :content) %>">
  <%= f.label :content, "내용", class: "col-sm-1 control-label" %>
  <div class="col-sm-11">
    <%= f.text_area :content, rows: 5, class: "form-control" %>
    <span class="glyphicon <%= validation_state_feedback(@notice, :content) %> form-control-feedback"></span>
    <span class="help-block"><%= attribute_error_message(@notice, :content) %></span>
  </div>
</div>

<div id="external-option">
  <div class="form-group form-group-lg has-feedback <%= validation_state(@notice, :link) %>">
    <%= f.label :link, "링크", class: "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <%= f.text_field :link, class: "form-control" %>
      <span class="glyphicon <%= validation_state_feedback(@notice, :link) %> form-control-feedback"></span>
      <span class="help-block"><%= attribute_error_message(@notice, :link) %></span>
    </div>
  </div>
</div>

<div id="to-option">
  <div class="form-group form-group-lg has-feedback <%= validation_state(@notice, :to) %>">
    <%= f.label :to, "모집 인원", class: "col-sm-1 control-label" %>
    <div class="col-sm-11">
      <%= f.number_field :to, min: 1, class: "form-control" %>
      <span class="glyphicon <%= validation_state_feedback(@notice, :to) %> form-control-feedback"></span>
      <span class="help-block"><%= attribute_error_message(@notice, :to) %></span>
    </div>
  </div>

  <div class="form-group form-group-lg has-feedback <%= validation_state(@notice, :due_date) %>">
    <%= f.label :due_date, "행사 날짜", class: "col-sm-1 control-label" %>
    <div class="col-sm-11 margin-top15">
      <%= f.date_select :due_date, {start_year: Date.today.year, default: 4.days.from_now }, {class: "selectpicker"} %>
      <p class="text-success">날짜 3일 전까지 공개 모집이 가능합니다</p>

      <span class="glyphicon <%= validation_state_feedback(@notice, :due_date) %> form-control-feedback"></span>
      <span class="help-block"><%= attribute_error_message(@notice, :due_date) %></span>
    </div>
  </div>

  <div class="form-group form-group-lg has-feedback">
    <label class="col-sm-1 control-label">옵션</label>
      <div class="col-sm-11">
      <label class="control-label"><input type="radio" id="fee-radio" checked="true"> 참가비</label>
    </div>
  </div>

  <div id="fee-option">
    <div class="form-group form-group-lg has-feedback">
      <%= f.label :regular_dues, "정단원", class: "col-sm-2 control-label" %>
      <div class="col-sm-10 input-group">
        <%= f.number_field :regular_dues, class: "form-control" %>
        <span class="input-group-addon">원</span>
      </div>
    </div>

    <div class="form-group form-group-lg has-feedback">
      <%= f.label :associate_dues, "예비단원", class: "col-sm-2 control-label" %>
      <div class="col-sm-10 input-group">
        <%= f.number_field :associate_dues, class: "form-control" %>
        <span class="input-group-addon">원</span>
      </div>
    </div>
  </div>
</div>

<div id="checklist-option">
  <%= f.fields_for :checklists do |checklist_form| %>
    <% checklist = checklist_form.object %>
    <div class="form-group form-group-lg has-feedback <%= validation_state(@notice, :task) %> <%= validation_state(checklist, :task) %> <%= validation_state(checklist, :assignees) %> checklist-form">
      <%= checklist_form.label :task, "할일", class: "col-sm-1 control-label" %>
      <div class="col-sm-11 input-group">
        <%= checklist_form.text_field :task, class: "form-control" %>
        <span class="glyphicon <%= validation_state_feedback(@notice, :task) %> <%= validation_state_feedback(checklist, :task) %> <%= validation_state_feedback(checklist, :assignees) %> form-control-feedback"></span>
        <span class="help-block"><%= attribute_error_message(@notice, :task) %></span>
        <span class="help-block"><%= attribute_error_message(checklist, :task) %></span>
        <span class="help-block"><%= attribute_error_message(checklist, :assignees) %></span>
        <span class="input-group-btn">
          <button class="btn btn-warning assign-btn" type="button" data-toggle="modal" data-target=".all-users-modal">회원 선택</button>
          <%= checklist_form.fields_for :assign_histories do |assign_form| %>
            <%= assign_form.hidden_field :user_id, class: 'assignee-user_id' %>
          <% end %>
        </span>
      </div>
    </div>
  <% end %>

  <%= render partial: 'all_users_modal', locals: {users: @users} %>
</div>