<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="text-center" width="5%">문자 <%= check_box_tag "sms_#{type}_all", nil, false, class: 'sms_all' %></th>
        <th width="5%">기수</th>
        <th width="7%">이름</th>
        <th width="13%">전화번호</th>
        <th width="55%">체크</th>
        <th width="15%"><%= type == "read" || type == "unread" ? "읽은 시간" : "기록 시간" %></th>
      </tr>
    </thead>
    <tbody>
      <% users.each_with_index do |user, index| %>
      <% response = user.responses.find_by_notice_id(@notice) %>
      <tr>
        <td class="text-center"><%= check_box_tag 'sms_user[' + user.id.to_s + ']', nil, false, class: "sms_check sms_#{type}" %></td>
        <td class="text-right"><%= pretty_generation_id(user.generation_id) %></td>
        <td><%= user.username %></td>
        <td><%= pretty_phone_number(user.phone_number) %></td>
        <td>
          <div class="button-group">
            <button type="button" id="absence-btn-<%=index%>" class="btn btn-default <%= response.absence == 0 ? '' : 'btn-success' %>", onclick="javascript:update_check_status(<%=@notice.id %>, <%= response.id %>, 'absence', <%=index%>)">출석</button>

            <button type="button" id="dues-btn-<%=index%>" class="btn btn-default <%= response.dues == 0 ? '' : 'btn-primary' %>", onclick="javascript:update_check_status(<%=@notice.id %>, <%= response.id %>, 'dues', <%=index%>)">회비</button>

            <button type="button" id="memo-btn-<%=index%>" class="btn btn-default <%= response.memo.blank? ? '' : 'btn-warning' %>", onclick="javascript:open_memo(<%=index%>)">메모</button>
          </div>
          <div class="memo">
            <div id="memo-in-<%=index%>" class="<%= response.memo.blank? ? 'hide-memo' : 'show-memo' %>">
              <p id="memo-content-<%=index%>" class="memo-content"><%= response.memo %></p>
              <div class="glyphicon-group">
                <span class="glyphicon glyphicon-remove" onclick="javascript:update_check_status(<%=@notice.id %>, <%= response.id %>, 'memo', <%=index%>)"></span>
                <span class="glyphicon glyphicon-edit" onclick="javascript:edit_memo(<%=@notice.id %>, <%= response.id %>, 'memo', <%=index%>)"></span>
                </div>
            </div>
            
            <div id="memo-not-in-<%=index%>" class="hide-memo">
              <input type="text" id="memo-edit-<%=index%>" class="memo-edit" />
              <button type="button" class="btn btn-default", id="memo_button" onclick="javascript:update_check_status(<%=@notice.id %>, <%= response.id %>, 'memo', <%=index%>)">등록</button>
            </div>
          <div>
        </td>
        <td>
          <%= user.responses.time(@notice) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>