<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <%= form_for [current_club, :admin, @notice], html: {role: "form", class: "form-horizontal"} do |f|%>
        <legend>공지사항 수정하기</legend>
        <%= render partial: 'form', locals: {f: f} %>
        <p class="pull-right">
          <%= f.submit "수정", class: "btn btn-primary btn-lg"  %>
          <%= link_to [current_club, :admin, @notice] do %>
            <button type="button" class="btn btn-default btn-lg">
              취소
            </button>
          <% end %>
        </p>
      <% end %>
      <%= hidden_field_tag 'notice_type', @notice.notice_type %>
    </div>
  </div>
</div>