  <section class="portfolio-item-details">
    <div class="container">
      <div class="row item-title">
        <div class="col-sm-9">
          <h1><%= @notice.title %></h1>
          <div class="categories">
          <%= link_to (@notice.notice_type + " in " + @notice.activity.title), club_admin_activity_path(current_club, @notice.activity) %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="text-right">
            <div class="item-detail">
              <%= link_to "수정", edit_club_admin_notice_path(current_club, @notice, activity_id: @notice.activity.id), class: "btn btn-warning" %>
              <%if @notice.raw_notice_type =="to" %>
                <%= link_to "참가 인원 관리", club_admin_notice_responses_path(current_club, @notice), class: "btn btn-info" %>
              <% end %>
              <%= link_to "삭제", club_admin_notice_path(current_club, @notice), method: :delete,
              data: { confirm: '정말 삭제하시겠어요?' }, class: "btn btn-danger" %>
            </div>
            <div class="item-detail">
              <span>Date:</span>
              <%= @notice.created_at %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="portfolio-container">
    <div class="container">

      <ul class="ari-notice-ul">
        <li class="ari-notice-li-top">
          <i class="entypo-doc-text"></i>
          <a class="admin-notice-content"><%= @notice.content %></a>
        </li>

        <% if @notice.external_notice? %>
          <li class="ari-notice-li">
            <i class="entypo-link"></i>
              실제 주소 : <%= link_to @notice.link, @notice.link, target: "_blank" %>
          </li>
        <% end %>

        <li class="ari-notice-li">
          <i class="entypo-link"></i>
            통합 주소 : <%= link_to @notice.shortenURL, @notice.shortenURL, target: "_blank" %>
        </li>

        <% if @notice.to_notice? %>
          <li class="ari-notice-li">
            <i class="entypo-calendar"></i>
              행사 날짜 : <a><%= @notice.event_at %></a>
          </li>
          <li class="ari-notice-li">
            <i class="entypo-calendar"></i>
              모집 시한 : <a><%= @notice.due_date %></a>
          </li>
          <li class="ari-notice-li">
            <i class="entypo-credit-card"></i>
              <a> 정단원(<%= @notice.regular_dues ? @notice.regular_dues : "0" %>원), 예비단원(<%= @notice.associate_dues ? @notice.associate_dues : "0" %>원) </a>
          </li>
        <% end %>
      </ul>

      <%= form_tag(club_admin_messages_path(current_club), method: "post") do %>
        <%= hidden_field_tag 'notice_id', @notice.id %>

        <ul class="nav nav-tabs" role="tablist">
          <li class="secondary-nav <%= 'active' if @only_read or @page_from_read %>">
            <a href="#read-unread" role="tab" data-toggle="tab">읽음 확인</a>
          </li>
          <% case @notice.raw_notice_type %>
          <% when "checklist" then %>
            <li class="secondary-nav <%= 'active' unless @page_from_read %>"><a href="#checklist-result" role="tab" data-toggle="tab">수행 현황</a></li>
          <% when "to" then %>
            <li class="secondary-nav <%= 'active' unless @page_from_read %>"><a href="#to-result" role="tab" data-toggle="tab">실시간 참가인원 현황</a></li>
          <% when "survey" then %>
            <li class="secondary-nav <%= 'active' unless @page_from_read %>"><a href="#survey-result" role="tab" data-toggle="tab">투표 현황</a></li>
          <% end %>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade-in <%= 'active' if @only_read or @page_from_read %>" id="read-unread">
            <div class="notice-reader">
              <h3>읽은 멤버 <small>(총 <%= @readers.total_count %>명)</small></h3>
              <%= @page_anchor %>1111
              <%= render partial: "table", locals: { users: @readers.decorate, type: "read" } %>
              <% if @only_read %>
                <%= paginate @readers, param_name: :readers_page, theme: 'bootstrap' %>
              <% else %>
                <%= paginate @readers, param_name: :readers_page, :params => { :page_anchor => "true" }, theme: 'bootstrap' %>
              <% end %>
            </div>

            <div class="notice-unreader notice-under notice-bottom">
              <h3>안 읽은 멤버 <small>(총 <%= @unreaders.total_count %>명)</small></h3>
              <%= render partial: "table", locals: { users: @unreaders.decorate, type: "unread" } %>
              <% if @only_read %>
                <%= paginate @unreaders, param_name: :unreaders_page, theme: 'bootstrap' %>
              <% else %>
                <%= paginate @unreaders, param_name: :unreaders_page, :params => { :page_anchor => "true" }, theme: 'bootstrap' %>
              <% end %>
            </div>
          </div>
          <% if @notice.survey_notice? %>
            <div class="tab-pane fade-in <%= 'active' unless @page_from_read %>" id="survey-result">
              <div>
                <h3>찬성 <small>(총 <%= @responsed_yes.total_count %>명)</small></h3>
                <%= render partial: "table", locals: { users: @responsed_yes.decorate, type: "yes" } %>
                <%= paginate @responsed_yes, param_name: :responsed_yes_page, theme: 'bootstrap'  %>
              </div>
              <div class="notice-under">
                <h3>보류 <small>(총 <%= @responsed_maybe.total_count %>명)</small></h3>
                <%= render partial: "table", locals: { users: @responsed_maybe.decorate, type: "maybe" } %>
                <%= paginate @responsed_maybe, param_name: :responsed_maybe_page, theme: 'bootstrap'  %>
              </div>
              <div class="notice-under notice-bottom">
                <h3>반대 <small>(총 <%= c@responsed_no.total_count %>명)</small></h3>
                <%= render partial: "table", locals: { users: @responsed_no.decorate, type: "no" } %>
                <%= paginate @responsed_no, param_name: :responsed_no_page, theme: 'bootstrap'  %>
              </div>
            </div>

          <% elsif @notice.to_notice? %>
            <div class="tab-pane fade-in <%= 'active' unless @page_from_read %>" id="to-result">
              <% if @notice.to_notice? %>
                <div class="ari-tile-progress tile-progress tile-gray">
                  <div class="ari-tile-header tile-header">
                    <h3>최대 참가 가능인원 : <%= @notice.to %> 명</h3>
                  </div>

                  <div class="tile-progressbar">
                    <span data-fill="<%= @responsed_go_percentage %>%" style="width: <%= @responsed_go_percentage %>%;"></span>
                  </div>

                  <div class="ari-tile-footer tile-footer">
                    <h4>
                      <span class="pct-counter"></span>% 참가 중 ( <%= @responsed_go.total_count %> 명 )
                      <% if @responsed_go_percentage == 100 %>
                        현재 대기 인원 : <%= @dues_sum[:wait] %> 명
                      <% end %>
                    </h4>

                    <h3>회비 납부 총합 : <%= @dues_sum[:sum] %>원</h3>
                  </div>
                </div>
              <% end %>

              <div>
                <h3>참가 <small>(총 <%= @responsed_go.total_count %>명)</small></h3>
                <%= render partial: "table_to_response", locals: { users: @responsed_go.decorate, type: "go" } %>
                <%= paginate @responsed_go, param_name: :responsed_go_page, theme: 'bootstrap'  %>
              </div>
              <div class="notice-under notice-bottom">
                <h3>대기 <small>(총 <%= @responsed_wait.total_count %>명)</small></h3>
                <%= render partial: "table_to_response", locals: { users: @responsed_wait.decorate, type: "wait" } %>
                <%= paginate @responsed_wait, param_name: :responsed_wait_page, theme: 'bootstrap'  %>
              </div>
            </div>

          <% elsif @notice.checklist_notice? %>
            <div class="tab-pane fade-in <%= 'active' unless @page_from_read %>" id="checklist-result">
              <%= render partial: 'notices/checklists', locals: {notice: @notice, checklists: @notice.checklists} %>
            </div>
          <% end %>

        </div>
        <div class="sms-text <%= 'fix-bottom' unless @notice.raw_notice_type == 'checklist' %>">
          <h3>문자 보내기</h3>
          <p id="phone_numbers">총 0명이 선택 되었습니다.</p>
          <%= text_area_tag 'sms_content', ("[" + current_club.name + "]"), class: 'form-control' %>
          <div class="pull-right margin-top15">
            (<span id="current-text-size">19</span>/90 bytes)
            <button id="send_sms" type="submit" class="btn btn-blue btn-sm">전송</button>
          </div>
        </div>
      <% end %>

    </div>
  </section>
