<div class="notice-full-page">
  <div class="page-header clearfix">
    <h3 class="pull-left"><%= @notice.title %></h3>
    <div class="pull-right margin-top15">
      <%= link_to "수정", edit_admin_notice_path(@notice), class: "btn btn-default btn-sm" %>
      <%= link_to "삭제", admin_notice_path(@notice), method: :delete,
      data: { confirm: '정말 삭제하시겠어요?' }, class: "btn btn-danger btn-sm" %>
    </div>
  </div>

  <p>공지 내용 : <%= @notice.content %></p>
  <p>실제 공지 주소 : <%= link_to @notice.link, @notice.link, target: "_blank" %></p>
  <p>통합 공지 주소 : <%= link_to @notice.shortenURL, @notice.shortenURL, target: "_blank" %></p>
  <p>만든 시간 : <%= @notice.created_at.localtime.strftime("%Y-%m-%d %T") %></p>

  <div class="clearfix"></div>

  <%= form_tag(admin_messages_path, method: "post") do %>
    <%= hidden_field_tag 'notice_id', @notice.id %>

    <div class="notice-reader">
      <h3>읽은 회원 <small>(총 <%= @notice.readers.count %>명)</small></h3>
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th width="5%">기수</th>
              <th width="7%">이름</th>
              <th width="13%">전화번호</th>
              <th width="20%">이메일</th>
              <th width="25%">전공</th>
              <th width="15%">읽은 시간</th>
              <th class="text-center" width="15%">문자(전체선택 <%= check_box_tag 'sms_read_all', nil, false, class: 'sms_all' %>)</th>
            </tr>
          </thead>
          <tbody>
            <% @notice.readers.order(generation_id: :desc).each_with_index do |user, index| %>
            <tr>
              <td><%= pretty_generation_id(user.generation_id) %></td>
              <td><%= user.username %></td>
              <td><%= pretty_phone_number(user.phone_number) %></td>
              <td><%= user.email %></td>
              <td><%= user.major %></td>
              <td><%= user.read_at(@notice).localtime.strftime("%Y-%m-%d %T") %></td>
              <td class="text-center"><%= check_box_tag 'sms_user[' + user.id.to_s + ']', nil, false, class: 'sms_check sms_read' %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="notice-unreader">
      <h3>안 읽은 회원 <small>(총 <%= @notice.unreaders.count %>명)</small></h3>
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th width="5%">기수</th>
              <th width="7%">이름</th>
              <th width="13%">전화번호</th>
              <th width="20%">이메일</th>
              <th width="25%">전공</th>
              <th width="15%">읽은 시간</th>
              <th class="text-center" width="15%">문자(전체선택 <%= check_box_tag 'sms_unread_all', nil, false, class: 'sms_all' %>)</th>
            </tr>
          </thead>
          <tbody>
            <% @notice.unreaders.order(generation_id: :desc).each_with_index do |user, index| %>
            <tr>
              <td><%= pretty_generation_id(user.generation_id) %></td>
              <td><%= user.username %></td>
              <td><%= pretty_phone_number(user.phone_number) %></td>
              <td><%= user.email %></td>
              <td><%= user.major %></td>
              <td>-</td>
              <td class="text-center"><%= check_box_tag 'sms_user[' + user.id.to_s + ']', nil, false, class: 'sms_check sms_unread' %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="sms-text fix-bottom">
    <h3>문자 보내기</h3>
    <p id="phone_numbers">총 0명이 선택 되었습니다.</p>
    <%= text_area_tag 'sms_content', nil, class: 'form-control', placeholder: '문자 내용을 입력하세요!' %>
    <div class="pull-right margin-top15">
      <button id="send_sms" type="submit" class="btn btn-primary btn-sm">전송</button>
    </div>
  </div>
<% end %>