<div class="notice-full-page">
  <div class="page-header clearfix">
    <h3 class="pull-left"><%= @notice.title %></h3>
    <div class="pull-right margin-top15">
      <%= link_to "수정", edit_club_admin_notice_path(current_club, @notice), class: "btn btn-default btn-sm" %>
      <%if @notice.notice_type =="to" %>
        <%= link_to "TO관리", club_admin_notice_responses_path(current_club, @notice), class: "btn btn-info btn-sm" %>
      <% end %>
      <%= link_to "삭제", club_admin_notice_path(current_club, @notice), method: :delete,
      data: { confirm: '정말 삭제하시겠어요?' }, class: "btn btn-danger btn-sm" %>
    </div>
  </div>

  <p>공지 내용 : <%= @notice.content %></p>
  <% if @notice.external_notice? %>
    <p>실제 공지 주소 : <%= link_to @notice.link, @notice.link, target: "_blank" %></p>
  <% end %>
  <p>통합 공지 주소 : <%= link_to @notice.shortenURL, @notice.shortenURL, target: "_blank" %></p>
  <p>만든 시간 : <%= @notice.created_at.localtime.strftime("%Y-%m-%d %T") %></p>
  <% if @notice.to_notice? %>
    <p>행사 날짜 : <%= @notice.due_date.strftime("%Y-%m-%d %T") %></p>
    <p>모집 시한 : <%= (@notice.due_date - 3.days).localtime.strftime("%Y-%m-%d %T") %></p>
  <% end %>
  <div class="clearfix"></div>

  <%= form_tag(club_admin_messages_path(current_club), method: "post") do %>
    <%= hidden_field_tag 'notice_id', @notice.id %>

    <ul class="nav nav-tabs" role="tablist">

      <% case @notice.notice_type %>
      <% when "to" then %>
        <li class="secondary-nav"><a href="#to-result" role="tab" data-toggle="tab">실시간 TO 현황</a></li>
      <% when "survey" then %>
        <li class="secondary-nav"><a href="#survey-result" role="tab" data-toggle="tab">수요 조사</a></li>
      <% end %>
      <li class="secondary-nav active"><a href="#read-unread" role="tab" data-toggle="tab">읽음 확인</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="read-unread">
        <div class="notice-reader">
          <h3>읽은 회원 <small>(총 <%= @notice.readers.count %>명)</small></h3>
          <%= render partial: "table", locals: { users: @notice.readers.order_by_read_at, type: "read" } %>
        </div>

        <div class="notice-unreader">
          <h3>안 읽은 회원 <small>(총 <%= @notice.unreaders.count %>명)</small></h3>
          <%= render partial: "table", locals: { users: @notice.unreaders.generation_sorted_desc, type: "unread" } %>
        </div>
      </div>
      <div class="tab-pane fade" id="survey-result">
        <div>
          <h3>참가 <small>(총 <%= User.responsed_yes(@notice).count %>명)</small></h3>
          <%= render partial: "table", locals: { users: User.responsed_yes(@notice).order_by_responsed_at, type: "yes" } %>
        </div>
        <div>
          <h3>불확실 <small>(총 <%= User.responsed_maybe(@notice).count %>명)</small></h3>
          <%= render partial: "table", locals: { users: User.responsed_maybe(@notice).order_by_responsed_at, type: "maybe" } %>
        </div>
        <div>
          <h3>불참 <small>(총 <%= User.responsed_no(@notice).count %>명)</small></h3>
          <%= render partial: "table", locals: { users: User.responsed_no(@notice).order_by_responsed_at, type: "no" } %>
        </div>
      </div>

      <div class="tab-pane fade" id="to-result">
        <div>
          <h3>참가 <small>(총 <%= User.responsed_go(@notice).count %>명)</small></h3>
          <%= render partial: "table", locals: { users: User.responsed_go(@notice).order_by_responsed_at, type: "go" } %>
        </div>
        <div>
          <h3>대기 <small>(총 <%= User.responsed_wait(@notice).count %>명)</small></h3>
          <%= render partial: "table", locals: { users: User.responsed_wait(@notice).order_by_responsed_at, type: "wait" } %>
        </div>
      </div>
    </div>
    <div class="sms-text fix-bottom">
      <h3>문자 보내기</h3>
      <p id="phone_numbers">총 0명이 선택 되었습니다.</p>
      <%= text_area_tag 'sms_content', "[서울대 햇빛봉사단]", class: 'form-control' %>
      <div class="pull-right margin-top15">
        (<span id="current-text-size">19</span>/90 bytes)
        <button id="send_sms" type="submit" class="btn btn-primary btn-sm">전송</button>
      </div>
    </div>
  <% end %>
</div>
