<!DOCTYPE html>
<html>
<head>
  <title>Ari</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="page-body <%= yield (:body_class) %>">
  <%= render 'layouts/messages' %>
  <div class="page-container without-sidebar">
    <%= render 'layouts/status_bar' if current_user.try(:activated?) && !devise_controller? %>
    <%= yield %>
  </div>
</body>

<footer class="ari-footer main container">
  © 2014 <strong>Aritor</strong> Software Maestro #5</a>
</footer>

</html>
